{
  "extends": ["next/core-web-vitals", "plugin:prettier/recommended"],

  "rules": {
    "import/order": [
      "warn",
      {
        "distinctGroup": false,
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "orderImportKind": "asc" },
  
        "groups": [
          ["builtin", "external", "internal"],
          ["index", "sibling", "parent"],
          ["type", "unknown"]
        ],
  
        "pathGroups": [
          { "pattern": "@/**", "group": "parent", "position": "before" },
          { "pattern": "../**", "group": "parent", "position": "before" },
          { "pattern": "./**", "group": "sibling", "position": "after" }
        ]
      }
    ]
  }
}
